* {
    background-color: @bg0@;
    color: @fg1@;

    font-family: "JetBrainsMono", SymbolsNerdFont;
    font-size: 14px;
    font-weight: 500;

    padding: 0;

    min-height: 0;
    border: 0;
    border-radius: 0;
}

#custom-nixos {
    font-size: 16px;
    margin: 1px;
    margin-left: 12px;
    padding: 0 6px;
    min-width: 20px;
}

#workspaces button {
    margin: 1px;
    padding: 0 6px;
    min-width: 14px;
}

#workspaces button.urgent {
    color: @red@;
}

#bluetooth {
    font-size: 16px;
}

#custom-zenmode {
    margin: 1px;
    margin-right: 12px;
    padding: 0 6 0 4px;
    min-width: 20px;
}

#wireplumber,
#bluetooth,
#backlight,
#battery,
#network,
#custom-sunset {
    margin: 1px;
    padding: 0 6px;
    min-width: 20px;
}

#workspaces button.empty,
#bluetooth.no-controller,
#bluetooth.disabled,
#bluetooth.off,
#wireplumber.muted,
#network.disconnected {
    opacity: 0.6;
}
