* {
    background-color: @bg0@;
    color: @fg1@;

    font-family: "JetBrainsMono", SymbolsNerdFont;
    font-size: 14px;
    font-weight: 500;

    min-height: 0;
    border: 0;
    border-radius: 0;
}

.modules-left {
    padding-left: 10px;
}

.modules-right {
    padding-right: 0px;
}

#custom-nixos,
#workspaces,
#workspaces button,
#clock,
#custom-timer,
#wireplumber,
#network,
#bluetooth,
#backlight,
#custom-bluelight,
#battery,
#custom-zenmode {
    margin: 1px;
    padding: 0 6px;
    min-width: 20px;
}

#workspaces button.empty,
#wireplumber.muted,
#network.disconnected,
#bluetooth.no-controller,
#bluetooth.disabled,
#bluetooth.off {
    opacity: 0.6;
}

/*tweaks for consistency*/
#custom-nixos {
    font-size: 16px;
    padding-left: 1px;
}

#bluetooth {
    font-size: 16px;
}
