* {
  min-height: 0px;
  min-width: 0px;
  font-size: 14px;
  font-weight: 500;
}

window#waybar {
  background-color: @bg0@;
}

/*LEFT*/
#workspaces {
  margin-left: 4px;
}

#workspaces button {
  margin: 4px 0px;
  padding: 0px 4px;
  color: @fg1@;
}

#workspaces button.active {
  border-radius: 4px;
  background-color: @bg1@;
  color: @fg0@;
}

#workspaces button.urgent {
  color: @red@;
}

/*CENTER*/
#window {
  color: @fg1@;
  background-color: transparent;
}

/*RIGHT*/
#network, #bluetooth, #wireplumber, #backlight, #battery, #clock, #custom-timer{
  margin: 4px 2px;
  padding: 0px 6px;
  color: @fg1@;
  background-color: @bg1@;
  border-radius: 4px;
  min-width: 20px;
}

window#waybar.empty #window {
  background-color: transparent;
}

#clock {
  margin-right: 4px;
  background-color: transparent;
}
