* {
    font-family: @default-font@, SymbolsNerdFont;
    font-size: 14px;
    font-weight: 500;

    min-height: 0;
    border: 0;
    border-radius: 0;
}

window#waybar {
    background-color: @background@;
    color: @foreground@;
}

tooltip {
    background-color: @background@;
    border: 2px solid @border-color@;
}

tooltip * {
    color: @foreground@;
    padding: 4px;
}

.modules-left {
    padding-left: 15px;
}

.modules-right {
    padding-right: 5px;
}

#custom-nixos,
#workspaces,
#workspaces button,
#clock,
#custom-timer,
#wireplumber,
#network,
#bluetooth,
#backlight,
#custom-bluelight,
#battery,
#custom-zenmode {
    background-color: @background@;
    color: @foreground@;

    margin: 2px;
    padding: 0 6px;
    min-width: 20px;
}

#workspaces button.empty,
#wireplumber.muted,
#network.disconnected,
#network.disabled,
#bluetooth.no-controller,
#bluetooth.disabled,
#bluetooth.off {
    opacity: 0.6;
}

/*tweaks for consistency*/
#custom-nixos {
    font-size: 16px;
    padding-left: 1px;
}

#bluetooth {
    font-size: 16px;
}
