* {
  font-weight: 500;
  font-size: 21px;
}

window {
  margin: 0px;
  padding: 0px;
  background-color: @bg0@;
  border-radius: 0px;
}

#input {
  margin: 4px;
  background-color: @bg0@;
  border: none;
}

#input image.left{
  padding-right: 11px;
  color: @fg1@;
}

#input image.right{
  padding-left: 11px;
  color: @fg1@;
}

#text {
  margin: 2px;
  border: none;
  color: @fg1@;
}

#entry:selected {
  background: @fg1@;
  border-radius: 0px;
  outline: none;
}

#entry:selected #text {
  color: @bg0@;
  background: none;
}

#img {
  background: none;
}
