* {
    font-family: "JetBrainsMono", SymbolsNerdFont;
    font-size: 25px;
    font-weight: 350;

    min-height: 0;
    border: 0;
    border-radius: 0;
    outline: none;

    margin: 0;
    padding: 0;
}

window {
    background-color: @bg0@;
    color: @fg1@;
}

#input,
#entry {
    padding: 0.2em;
    min-height: 1.4em;
    background: none;
}

#input image.left {
    margin: 0 0.25em 0 0.2em;
    color: @fg1@;
}

#input image.right {
    color: @bg0@;
}

#entry:selected {
    background-color: @fg1@;
    color: @bg0@;
}

#entry image {
    margin-right: 0.2em;
    background: none;
}

#entry #text {
    background: none;
}
